/* 
   Alle Absätze werden lila 
   und größer dargestellt
    */

* {
  background-color: lightblue;
}
p {
  color: rgb(55, 0, 255);
  font-size: larger;
}
h2 {
  color: darkblue;
}

#first_music {
  color: rgb(250, 4, 217);
  font-weight: bold;
}

.fresh {
  font-family: Lato, Arial, sans-serif;
  color: rgb(255, 98, 0);
}

#music_list {
  color: red;
  font-weight: bold;
}

#film_list {
  color: blue;
  font-weight: bold;
}

ul {
  color: darkgreen;
  /* font-style: italic; */
}



.ungerade {
  color: rgb(203, 114, 77);
  font-weight: bold;
}

.gerade {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

#first:hover {
  font-style: italic;
  border: solid;
}