/* 
   Alle Absätze werden lila 
   und größer dargestellt
    */



body{

  background-repeat: no-repeat;
  background-size: 100%;
}

.star {
  border: 2px solid blueviolet;
  background-color: black;
  padding: 5px;
  margin: 5px;
}

#star_box {
  display: flex;
  justify-content: space-between;
}

p {
  color: rgb(55, 0, 255);
  font-size: larger;
  border: solid;
  padding: 10px 50px0;
  margin: 50px;
  font-family: Pacifico;
}

h2 {
  color: darkblue;
}

#first_music {
  color: rgb(250, 4, 217);
  font-weight: bold;
}

.fresh {
  font-family: Lato, Arial, sans-serif;
  color: rgba(255, 98, 0, 0.632);
}

#music_list {
  color: rgb(106, 142, 105);
  font-weight: bold;
}

#film_list {
  color: blue;
  font-weight: bold;
}

ul {
  color: darkgreen;
  /* font-style: italic; */
}



.ungerade {
  color: rgb(203, 114, 77);
  font-weight: bold;
}

.gerade {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

#first:hover {
  font-style: italic;
  border: solid;
}